.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.output-box{
  width: 80%;
  padding: 5px;
}

.outer-box{
  padding: 5px;
  border: 1px solid black;
  margin: 20px 470px;
  background-color: black;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.calculator-box{
 margin: 20px;

}

.input-button{
  padding: 10px;
  font-size: 1em;
  margin: 5px;
  background-color: grey;
}

.action-button{
  padding: 10px;
  font-size: 1em;
   margin: 5px;
   background-color: grey;
}

.button-row{
  border-radius: 50%;
  text-align: center;
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
